body {
  background: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  margin-top: 50px;
  font-size: 50px;
  color: #333;
}

.name_highlight {
  color: hotpink;
}
img {
  width: 50%;
  height: 1000px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
img:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 40px rgba(255, 105, 180, 0.5);
}
.half_width {
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.half_width img {
    width: 100%;
}
section {
    overflow: hidden;
    margin-bottom: 20px;
}
.top_banner {
    border: orchid dotted 5px;
  background-image: url("images/top-banner.png");
  background-size: cover; /* পুরো জায়গা ভরে যাবে */
  background-position: center; /* মাঝখানে ঠিক থাকবে */
  background-repeat: no-repeat; /* রিপিট করবে না */
  height: 100vh; /* পুরো স্ক্রিন জুড়ে */
  width: 100%; /* পুরো চওড়া */
}


